.appHeader {
  background-color: #010a13;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.headerTitle {
  margin-left: 5vw;
}

.headerCard {
  align-self: flex-end;
  margin-right: 3vw;
  border-bottom: 0.1vh solid #c8aa6e;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  border-bottom: 0.1vh solid #c8aa6e;
  align-self: center;
}

.headerLink {
  padding-inline: 9vw;
  color: #a09b8c;
  text-decoration: none;
}

.headerLink:hover {
  background-color: #c8aa6e;
  color: var(--buttonText);
  transition-duration: 500ms;
}
