.appHeader {
  background-color: #010a13;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#profileImageHeader {
  width: 5vh;
  margin-left: 1vw;
  border-radius: 5vh;
}

.headerTitle {
  margin-left: 5vw;
}

#headerCard {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-right: 3vw;
  border: 0.1vh solid var(--highlight);
  border-radius: 5vh;
  padding: 1vh;
  width: fit-content;
}

#headerCard:hover {
  color: var(--buttonText);
  background-color: var(--highlight);
  transition-duration: 1000ms;
  cursor: pointer;
}

#headerCard:hover #headerNick {
  color: var(--buttonText);
  transition-duration: 1000ms;
}

#headerNav {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  border-bottom: 0.1vh solid var(--highlight);
  align-self: center;
}

.headerLink {
  padding-inline: 9vw;
  color: #a09b8c;
  text-decoration: none;
}

.headerLink:hover {
  background-color: var(--highlight);
  color: var(--buttonText);
  transition-duration: 500ms;
}
