#teamInfoMain {
  margin-top: 10vh;
  flex-direction: column;
}

#teamHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#teamLogo {
  width: 13vw;
}

#teamNav {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}
