@import "./root.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Spiegel, sans-serif;
  font-weight: normal;
  font-style: normal;
}
#root {
  display: flex;
  justify-content: center;
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: BeaufortForLol, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-weight: bold;
}

h1,
h2,
h3,
strong,
small,
p,
a,
table,
img,
label {
  color: var(--textColor);
}
.defaultButton {
  color: var(--buttonText);
  border: none;
  background-color: var(--highlight);
  padding: 0.5vw;
  text-decoration: none;
}

.defaultButton:hover {
  background-color: #785a28;
  transition-duration: 300ms;
}

strong {
  font-weight: 600;
}

input {
  margin-left: 1vw;
}
