@import "./root.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Spiegel, sans-serif;
  font-weight: normal;
  font-style: normal;
}
#root {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

html {
  background-image: var(--background);
}

h1,
h2,
h3 {
  font-family: BeaufortForLol, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-weight: bold;
}

h1,
h2,
h3,
strong,
small,
p,
a,
table,
img,
label {
  color: var(--textColor);
}
button {
  color: var(--buttonText);
  border: none;
  background-color: var(--highlight);
  padding: 0.5vw;
}

strong {
  font-weight: 600;
}

input {
  margin-left: 1vw;
}
